body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(43, 10, 120);
    height: 40px;
  }

section {
    float:left;
    width:22%;
    background-color: black; /* Slightly darker grey */
}

nav{
    height: 620px;
    padding: 20px;
    background-image:linear-gradient(darkblue, black);
}

section::after{
    content:"";
    display: table;
    clear: both;
}

footer {
    background-image:linear-gradient(to left, darkblue, black);
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    clear:both;
    
}

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

article {
    float: right;
    width: 70%;         /* Adjust the width as needed */
    /* or use max-height: 500px; if you want the box to grow until it reaches this height */
    margin: 20px auto;  /* Centering the article */  /* This enables vertical scrolling */
    padding: 10px;
    height: 600px;
    overflow:auto;      /* Optional padding */
}
header{
    height: 200px;
    background-image: linear-gradient(black, darkblue);
}
ul {
    list-style-type: none;
}
  
a{
    color:azure;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

html{
    background: white;
}
