body{
    margin: 0px;
}

header {
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(43, 10, 120);
  }

section {
    float:left;
    width:25%;
}

nav{
    height: 300px;
    background: navy;
    padding: 20px;
}

section::after{
    content:"";
    display: table;
    clear: both;
}

footer {
    clear:both;
    background-color:slateblue;
    padding: 10px;
    text-align: center;
    color: azure;
}
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

article {
    float: right;
    width: 70%;         /* Adjust the width as needed */
    /* or use max-height: 500px; if you want the box to grow until it reaches this height */
    margin: 20px auto;  /* Centering the article */
    overflow-y: auto;   /* This enables vertical scrolling */
    padding: 10px;      /* Optional padding */
}
li{
    color:navy;
}
  
a{
    color:azure;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

html{
    background: darkblue;
}