p{

color: aliceblue;

}

body{

    background: darkblue;
}

h1{

    color: azure;
}

a{

    color:azure;

}
h3{
    color:azure;
}
h2{
    color:azure;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr{
    color:white;
}