p{

color:  black;

}

body{

    background: white;
}

h1{

    color: black;
}

a{

    color: white;

}
h3{
    color: black;
}
h2{
    color: black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr{
    color:black;
}


.fire a{
    color:black;
}